/* frasesStyles.css */
/* indexStyles.css */
@import url('variables.css');

/* Aquí el resto de tus estilos específicos para el index */


header {
    background-color: var(--color-acento);
    color: var(--color-fondo);
    padding: 5px 0;
    border-button: 2px solid var(--color-acento);
}

h1 {
    margin: 0;
}
h2, h3 {
    color: var(--color-acento);
    margin-top: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
#datos-frase {
    background-color: var(--color-secundario); /* Fondo suave */
    padding: 15px; /* Espaciado interno */
    border: 1px solid var(--color-acento); /* Borde con color de acento */
    border-radius: 8px; /* Esquinas redondeadas */
    margin-bottom: 10px; /* Separación inferior */
}

#datos-frase p {
    margin: 5px 0; /* Margen superior e inferior pequeño */
    color: var(--color-texto); /* Color del texto principal */
    font-size: 0.6rem; /* Tamaño de fuente estándar */
}

#datos-frase a {
    color: var(--color-acento); /* Color de los enlaces */
    text-decoration: underline; /* Sin subrayado */
}


ul li {
    margin-bottom: 10px;
}
q {
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    font-style: italic; /* Añade un estilo cursivo */
    text-align: center; /* Centra el texto */
    display: block; /* Hace que el <q> ocupe todo el ancho disponible */
     /* Añade un margen para separarlo de otros elementos */
    padding: 10px 20px; /* Añade espacio interior */
    border-left: 4px solid var(--color-acento); /* Añade una línea a la izquierda */
    color: var(--color-texto); /* Aplica el color de texto definido en variables */
    background-color: var(--color-secundario); /* Aplica un fondo suave */
}
