/* frasesStyles.css */
/* indexStyles.css */
@import url('variables.css');

/* Aquí el resto de tus estilos específicos para el index */
body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Arial', sans-serif;
}
#navbar {
    border-bottom: 2px solid var(--color-acento);
}

header {
    background-color: var(--color-acento);
    color: var(--color-fondo);
    padding: 20px 0;
}

h1 {
    margin: 0;
}
h2, h3 {
    color: var(--color-acento);
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
#datos-frase {
    background-color: var(--color-secundario); /* Fondo suave */
    padding: 15px; /* Espaciado interno */
    border: 1px solid var(--color-acento); /* Borde con color de acento */
    border-radius: 8px; /* Esquinas redondeadas */
    margin-bottom: 10px; /* Separación inferior */
}

#datos-frase p {
    margin: 5px 0; /* Margen superior e inferior pequeño */
    color: var(--color-texto); /* Color del texto principal */
    font-size: 0.6rem; /* Tamaño de fuente estándar */
}

#datos-frase a {
    color: var(--color-acento); /* Color de los enlaces */
    text-decoration: underline; /* Sin subrayado */
}


ul li {
    margin-bottom: 10px;
}

footer {
    background-color: var(--color-acento);
    color: var(--color-fondo);
    padding: 10px 0;
    text-align: center;
}
