/* indexStyles.css */
/* indexStyles.css */
@import url('variables.css');



h1 {
    color: var(--color-acento);
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.container {
  
    padding-top: 20px;
   
}


#index-categorias {
    margin-top: 30px;
}

#index-categorias ul {
    list-style: none;
    padding-left: 0;
}

#index-categorias li {
    background-color: var(--color-secundario);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#index-categorias li:hover {
    background-color: var(--color-acento);
    color: var(--color-fondo);
}
ul.list-group {
    margin-top: 10px;
}

ul.list-group li {
    background-color: var(--color-secundario);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

q {
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    font-style: italic; /* Añade un estilo cursivo */
    text-align: center; /* Centra el texto */
    display: block; /* Hace que el <q> ocupe todo el ancho disponible */
    margin: 20px auto; /* Añade un margen para separarlo de otros elementos */
    padding: 10px 20px; /* Añade espacio interior */
    border-left: 4px solid var(--color-acento); /* Añade una línea a la izquierda */
    color: var(--color-texto); /* Aplica el color de texto definido en variables */
    background-color: var(--color-secundario); /* Aplica un fondo suave */
    /* Limita el ancho máximo de la cita */
}

#frase-clave a {
    text-decoration: none; /* Elimina el subrayado en el enlace */
}
