/* Asegúrate de importar el archivo de variables en el archivo CSS */
@import url('variables.css');


#social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 1rem;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: var(--color-texto);
    background-color: var(--color-secundario);
    border-radius: 50%;
    border: 2px solid var(--color-texto);
    transition: background-color 0.3s, color 0.3s;
}

.social-icon:hover {
    background-color: var(--color-texto);
    color: var(--color-acento);
}

.social-icon i {
    font-size: 20px;
}

#contact-form{
    margin-bottom: 20px;
}